* {
    box-sizing: border-box;
  }

body {
    background-image: url('../images/norway.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cookie', cursive;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "head head head head"
        "turn turn win go"
        "two baskets baskets one"
        "two baskets baskets one"
        "p2 . . p1";

}

#board {
    display: grid;
    grid-area: baskets;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "l k j i h g"
    "a b c d e f";
    text-align: center;
    justify-content: center;
    font-size: 15vh;
}

h1 {
    grid-area: head;
    font-size: 8vh;
    text-align: center;
    background-color: rgba(156, 119, 71, .7);
    color: whitesmoke;
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-height: 10vh;
}

h2 {
    font-size: 4.5vh;
    background-color: rgba(245, 245, 245, .6);
    height: 5vh;
    margin-top: 1vh;
}

#win {
    grid-area: win;
    grid-column: span 2;
    background-color: rgba(245, 245, 245, .6);
    height: 5vh;
    align-items: baseline;
    color: black;
    margin-top: 1vh;
    font-size: 5vh;
    text-align: right;
}

.go {
    grid-area: go;
}

.p1 {
    grid-area: p1;
    text-align: center;
    line-height: 6vh;
    background-color: whitesmoke;
    border-radius: 50%;
}

.p2 {
    grid-area: p2;
    text-align: center;
    line-height: 6vh;
    background-color: whitesmoke;
    border-radius: 50%;
}

.mancala {
    grid-row: span 2;
    font-size: 30vh;
    line-height: 40vh;
}

.one {
    grid-area: one;
    grid-row: span 2;
    border: rgba(26, 21, 15, 1), solid, 1vh;
    border-radius: 51%; 
    background-image: radial-gradient(rgba(58, 90, 99, 1), rgba(16, 41, 43, 1));
    height:100%;
    text-align: center;
    color: whitesmoke;
    padding-top: 7vh;
}

.two {
    grid-area: two;
    border: rgba(26, 21, 15, 1), solid, 1vh;
    border-radius: 51%;
    background-image: radial-gradient(rgba(58, 90, 99, 1), rgba(16, 41, 43, 1));
    height: 100%;
    text-align: center;
    color: whitesmoke;
    padding-top: 7vh;
}

.a {
    grid-area: a;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.b {
    grid-area: b;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.c {
    grid-area: c;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.d {
    grid-area: d;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.e {
    grid-area: e;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.f {
    grid-area: f;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.g {
    grid-area: g;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.h {
    grid-area: h;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.i {
    grid-area: i;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.j {
    grid-area: j;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.k {
    grid-area: k;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
.l {
    grid-area: l;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(144, 98, 72, .9), rgba(59, 48, 34,1));
    color: whitesmoke;
    padding-top: 5vh;
}
/* 
@media only screen and (min-width: 320px) and (max-width: 800px) {

body {
    background-color: darkred;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "head head"
        "p2 p2S"
        "two two"
        "baskets baskets"
        "baskets baskets"
        "one one"
        "p1S p1"
        "go go";
        font-size: 14px;
}
#board {
    background-color: crimson;
}


.one {
    grid-area: one;
    grid-column: span 2;
    border: rgba(26, 21, 15, 1) solid 1px;
    border-radius: 51%; 
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
    width:100%;

}

.two {
    grid-area: two;
    grid-column: span 2;
    border: rgba(26, 21, 15, 1) solid 1px;
    border-radius: 51%;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
    width: 100%;

}

} */