* {
    box-sizing: border-box;
  }

body {
    justify-content: center;
    font-family: 'Cookie', cursive;
    text-align: center;
    display: grid;
    grid-template-columns: 25vmin 45vmin 45vmin 25vmin;
    grid-template-rows: 25vmin 18vmin 25vmin 25vmin;
    grid-template-areas: 
    "head head head go"
    "p2 p2S p1S p1"
    " two baskets baskets one "
    " . baskets baskets . "
    ;
}

board {
    display: grid;
    grid-area: baskets; */
    grid-template-columns: repeat(6, 25vmin);
    grid-template-rows: repeat(2, 25vmin);
    grid-template-areas: 
    "l k j i h g"
    "a b c d e f";
    
}

h1 {
    grid-area: head;
    font-size: 12vmin;
}

h2 {
    font-size: 6vmin;
}

h3 {
    font-size: 5vmin;
}

.go {
    grid-area: go;
}

.p1 {
    grid-area: p1;
}

.p1Score {
    grid-area: p1S;
}

.p2 {
    grid-area: p2;
}

.p2Score {
    grid-area: p2S;
}

mancala {
    display: flex;
}
.one {
    grid-area: one;
    grid-row: span 2;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 40%;
    gap: 1vmin;
    height: 50vmin;
    width: 30vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));

}

.two {
    grid-area: two;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 40%;
    gap: 1vmin;
    height: 50vmin;
    width: 30vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));

}

.a {
    grid-area: a;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.b {
    grid-area: b;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.c {
    grid-area: c;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.d {
    grid-area: d;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.e {
    grid-area: e;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.f {
    grid-area: f;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.g {
    grid-area: g;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.h {
    grid-area: h;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.i {
    grid-area: i;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.j {
    grid-area: j;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.k {
    grid-area: k;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
.l {
    grid-area: l;
    border: rgba(26, 21, 15, 1), solid, 1px;
    border-radius: 50%;
    gap: 1vmin;
    background-image: radial-gradient(rgba(97, 79, 56,.8), rgba(59, 48, 34,1));
}
